@font-face {
	font-family: TradeGothicBold;
	src: url("trade-gothic/Trade Gothic LT Bold.ttf");
}

@font-face {
	font-family: TradeGothicLTLightOblique;
	src: url("trade-gothic/Trade Gothic LT Light Oblique.ttf");
}

@font-face {
	font-family: TradeGothicLTLight;
	src: url("trade-gothic/Trade Gothic LT Light.ttf");
}

@font-face {
	font-family: RobotoRegular;
	src: url("roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: RobotoBold;
	src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
	font-family: SourceSerif;
	src: url("source-serif-pro/SourceSerifPro-Regular.otf");
}


:root {
	font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
	--brandBlack: #000000;
	--brandWhite: #ffffff;
	--brandGray: #D0D1C9;
	--brandGray70: #4d4d4d;
	--brandGray80: #333333;
	--brandGray90: #191919;
	--brandDarkBlue: #1E3765;
	--brandMedBlue: #007FA3;
	--brandLightBlue: #6FC7EA;
	--brandPurple: #6D247A;
	--brandDarkGreen: #0D534D;
	--brandMedGreen: #00A189;
	--brandLightGreen: #8DBF2E;
	--brandRed: #DC4633; 
	--brandYellow: #F1C500;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: var(--brandWhite);
}

.text {
    background-color: none;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 10px;
	border-top: solid 1px var(--brandGray80);
	margin-top: 0px;
	
}

h1 {
    font-family: TradeGothicBold;
    font-size: 42px;
    color: var(--brandBlack);
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
    font-weight: normal;
}

h2 {
    text-align: left;
    font-family: TradeGothicBold;
    font-size: 24px;
    margin-top: 0px;
    color: var(--brandBlack);
    font-weight: normal;
}

h3 {
    text-align: left;
    font-family: TradeGothicBold;
    font-size: 23px;
    color: var(--brandBlack);
    padding-bottom: 5px;
    font-weight: normal;
}

h4 {
	text-align: left;
    font-family: TradeGothicBold;
    font-size: 18px;
    color: var(--brandBlack);
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: normal;
}

p {
    font-family: TradeGothicLTLightOblique;
    color: var(--brandBlack);
    text-align: left;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
}


a {
	text-decoration: underline;
	color: var(--brandMedBlue);
}

a:hover {
	color: var(--brandMedGreen);
}
